<p>custom-movie works!</p>
<form #myFormRef="ngForm" (submit)="myFormRef.invalid?showErrors(myFormRef, commentInputRef):send(myFormRef)">

    <label for="titleInput">title: </label>
    <input id="titleInput" name="title" ngModel />

    <label for="commentInput">comment: </label>
    <input #commentInputRef="ngModel" id="commentInput" name="comment" ngModel required [minlength]="10" />
    <div [hidden]="commentInputRef.valid">
        <p *ngIf="commentInputRef.errors?.required !== undefined">
            required
        </p>
        <p *ngIf="commentInputRef.errors?.minlength !== undefined">
            minlength
        </p>
    </div>

    <div *ngIf="commentInputRef.valid">
        <label for="noteInputID">note: </label>
        <input type="number" id="noteInputID" name="note" ngModel required />
    </div>

    <button>send</button>
</form>